body
{
    overflow-x: hidden;
    margin: auto;
}

.frame3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 1140px;
    height: 232px;
    left: 150px;
    top: 176px;
}

.rect-group {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.rect {
    width: 267px;
    height: 232px;
    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
}

.frame2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 752px;
    height: 127px;
    left: 344px;
    top: 488px;
}

.form-inline {
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    border: 1px solid #979797;
    border-radius: 8px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.form-input {
    position: absolute;
    height: 19px;
    left: 5.59%;
    right: 73.43%;
    top: calc(50% - 48px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.54);
    border: none;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}
.notify-button {
    position: absolute;
    width: 160px;
    height: 40px;
    left: 584px;
    top: 8px;
    border: none;
}

#see-detail {
    position: absolute;
    height: 16px;
    left: 18.75%;
    right: 18.12%;
    top: calc(50% - 22px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn-bg {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #00BCD4;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
}

.socmed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;
    width: 228.5px;
    height: 31px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

#fb {
    width: 31px;
    height: 31px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#twitter {
    width: 39px;
    height: 31px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
#github {
    width: 30.5px;
    height: 30.5px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.footer-menu {
    position: absolute;
    width: 1173px;
    height: 211px;
    left: 150px;
    top: 775px;
}

.footer {
    position: absolute;
    width: 1140px;
    height: 209px;
    left: 0px;
    top: 0px;
}

.logo-landscape {
    position: absolute;
    left: 0%;
    right: 84.14%;
    top: 0%;
    bottom: 73.46%;
}

.group {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

#e-learn {
    position: absolute;
    height: 42px;
    left: 33.33%;
    right: 0%;
    top: calc(50% - 55px - 3px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #302F2F;
}

#luxi-logo {
    position: absolute;
    left: 0%;
    right: 70.97%;
    top: 0%;
    bottom: 0.99%;
    background: url(img/Luxi-Hosting-Logo.png);
}

.sitemap1 {
    position: absolute;
    left: 24.81%;
    right: 52.43%;
    top: 0%;
    bottom: 0.95%;
}

.sitemap2 {
    position: absolute;
    left: 49.62%;
    right: 27.62%;
    top: 0%;
    bottom: 0.95%;
}

.sitemap3 {
    position: absolute;
    left: 74.42%;
    right: 2.81%;
    top: 0%;
    bottom: 0.95%;
}

h3 {
    position: absolute;
    height: 21px;
    left: 0%;
    right: 31.84%;
    top: calc(50% - 21px/2 - 94px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-transform: uppercase;
    color: #00838F;
}

.donec {
    position: absolute;
    height: 120px;
    left: 0%;
    right: 0%;
    top: calc(50% - 120px/2 + 0.5px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    color: rgba(0, 0, 0, 0.54);
}

#nam-posuere {
    position: absolute;
    left: 0%;
    right: 77.24%;
    top: 37.91%;
    bottom: 27.96%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.54);
}

#art-footer {
    position: absolute;
    width: 1440px;
    height: 184px;
    left: 0px;
    top: 840px;
    background: url(img/footer.png);
}

@media screen and (max-width: 834px) {

    .frame3 {
        flex-direction: column;
        width: 558px;
        height: 488px;
        left: 138px;
        top: 68px;
    }

    .frame2 {
        left: 41px;
        top: 636px;
    }

    .footer-menu {
        width: 758px;
        height: 442px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
    }

    .frame5 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        width: 758px;
        height: 209px;
        /* Inside auto layout */

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .frame4 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        width: 364px;
        height: 152px;
        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .frame6 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px 201px 0px 0px;
        gap: 24px;
        width: 758px;
        height: 209px;
        /* Inside auto layout */

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    #art-footer {
        display: none;
    }

    .sitemap2 {
        width: 364px;
        height: 209px;
        flex: none;
        order: 0;
        flex-grow: 0;
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
    }

    .sitemap3 {
        width: 267px;
        height: 209px;
        flex: none;
        order: 1;
        flex-grow: 0;
        top: auto;
        bottom: auto;
        left: 282px;
        right: auto;
    }
}

@media screen and (max-width: 375px) {
    .frame3 {
        width: 267px;
        height: 1000px;
        left: 54px;
        top: 32px;
    }

    .rect-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
    }

    .frame2 {
        width: 345px;
        height: 127px;
        left: 15px;
        top: 1112px;
    }

    .form-inline {
        width: 345px;
    }

    .form-input {
        left: 2.32%;
        right: 46.67%;
    }

    .notify-button {
        left: 177px;
    }
    
    .footer-menu {
        position: inherit;
    }
    
    .footer {
        width: 345px;
        height: 763px;
        left: 15px;
        top: 1319px;
    }

    .frame4 {
        width: 346px;
        height: 152px;
    }

    .frame5 {
        flex-direction: column;
        width: 346px;
        height: 385px;
    }

    .frame6 {
        padding: 0px 201px 0px 0px;
        width: 345px;
        height: 354px;
        flex-direction: column;

    }

    .logo-landscape {
        width: 186px;
        height: 56px;
    }

    #nam-posuere {
        width: 267px;
        height: 72px;
        position: relative;
    }

    .sitemap1 {
        width: 346px;
        height: 209px;
        flex: none;
        position: relative;
        left: auto;
        right: auto;
    }

    .sitemap2 {
        width: 345px;
        height: 165px;
    }

    .sitemap3 {
        width: 345px;
        height: 165px;
        position: relative;
        left: auto;
        top: 20px;
    }
}

    
