* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    width: 1440px;
    margin: 0 auto;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-around;
}

.frame3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    padding: 0px;
    width: 79%;
}

.rect-group {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 49%;
}

.rect {
    width: 48%;
    height: 232px;
    flex: none;
    flex-grow: 0;
}

.frame2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 752px;
    min-height: 127px;
}

.form-inline {
    display: flex;
    width: 100%;
    height: 56px;
    border: 1px solid #979797;
    border-radius: 8px;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    align-items: center;
    padding-right: 7px;
}

.form-input {
    position: relative;
    height: 19px;
    left: 5.59%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.54);
    border: none;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}
.notify-button {
    position: relative;
    width: 160px;
    height: 40px;
    margin-left: auto;
    border: none;
}

#see-detail {
    position: relative;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn-bg {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #00BCD4;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
}

.socmed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 28%;
    max-width: 228.5px;
    width: 40%;
    min-height: 31px;
    order: 1;
    flex-grow: 0;
}

#fb {
    width: 31px;
    height: 31px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#twitter {
    width: 39px;
    height: 31px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
#github {
    width: 30.5px;
    height: 30.5px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.footer-menu {
    position: relative;
    min-height: 211px;
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 79.2%;
    min-height: 209px;
    justify-content: center;
}

.frame4 {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 207.02px;
}

.logo-landscape {
    position: relative;
    width: 186px;
    height: 56px;
}

.group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

#e-learn {
    position: relative;
    height: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #302F2F;
}

#luxi-logo {
    position: relative;
    width: 54px;
    height: 56px;
    background: url(img/Luxi-Hosting-Logo.png);
}

.frame5, .frame6 {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: row;
}

.sitemap {
    position: relative;
    width: 49%;
    height: 209px;
}

h3 {
    margin-bottom: 10px;
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-transform: uppercase;
    color: #00838F;
}

.donec {
    height: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    color: rgba(0, 0, 0, 0.54);
}

#nam-posuere {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.54);
    width: 260.02px;
}

#art-footer {
    position: relative;
    height: 184px;
    bottom: 0;
    background: url(img/footer.png);
}

@media all and (max-width: 834px) {
    body {
        width: 834px;
    }

    main {
        min-height: 108vh;
    }

    .frame3 {
        flex-direction: column;
        align-items: center;
        height: 488px;
        top: 68px;
    }

    .rect-group {
        width: 83%;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
    }

    .frame5 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        height: 209px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        width: 100%;
    }


    .frame6 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        gap: 24px;
        min-height: 209px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    #art-footer {
        display: none;
    }
}

@media all and (max-width: 375px) {
    body {
        width: 375px;
    }

    main {
        margin-top: 120px;
        min-height: 165vh;
    }

    .rect {
        width: 99%;
    }

    .rect-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 89%;
    }

    .frame2 {
        width: 345px;
        min-height: 127px;
    }

    .frame5 {
        flex-direction: column;
        min-height: 385px;
    }

    .frame6 {
        min-height: 354px;
        flex-direction: column;

    }
}

    
